	.main-image img {
		display: block;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	.specs {
		display: grid;
		grid-template-columns: 1fr 3fr;
		align-items: start;
		grid-gap: 1.5rem;
	}

	.specs img {
		width: 100%;
		height: auto;
		object-fit: contain;
	}

	.icons img {
		width: 48px;
		height: 48px;
	}

	@media (min-width: 768px) {
		.features {
			display: grid;
			grid-template-columns: 1fr;
			grid-gap: 2.5rem;
		}

		.feature {
			display: grid;
			grid-template-columns: 4fr 3fr;
			grid-template-rows: 1fr;
			align-items: start;
			grid-gap: 2rem;
		}

		.feature.-num-even {
			grid-template-columns: 3fr 4fr;
		}

		.feature .sentense {
			padding: 1rem 0;
		}

		.feature.-num-even .sentense {
			grid-column: 2 / 3;
			grid-row: 1;
		}
	}

	.feature img {
		width: 100%;
		height: auto;
		object-fit: contain;
	}

	@media (min-width: 768px) {
		.outline {
			display: flex;
			justify-content: space-between;
			align-items: flex-end;
		}

		.outline div:first-child {
			width: 65%;
		}
	}
