.item-summary-heading {
	margin-bottom: 1.5rem;
	padding-bottom: .5rem;
	border-bottom: 4px double #ccc;
	font-size: 3.5rem;
	font-weight: 300;
	line-height: 1.2;
}

.icons img {
	width: 48px;
	height: 48px;
}

.feature {
	display: grid;
	grid-gap: 1.5rem;
	grid-template-rows: 1fr 1fr;
}

.feature .sentence {
	grid-row: 2 / 3;
}

@media (min-width: 768px) {
	.features .grid {
		grid-column-gap: 3rem;
		grid-row-gap: 4.5rem;
	}

	.feature {
		grid-gap: 3rem;
		grid-template-columns: 4fr 3fr;
		grid-template-rows: 1fr;
		align-items: center;
	}

	.feature.-num-even {
		grid-template-columns: 3fr 4fr;
	}

	.feature .sentence {
		grid-row: 1 / 2;
	}

	.feature.-num-even .sentence {
		grid-column: 2 / 3;
	}

	.feature-heading {
		margin-bottom: 1.5rem;
		line-height: 1.24;
	}
}

@media (min-width: 768px) {
	.item-summary .grid {
		grid-template-columns: 2fr 1fr;
	}

	.icons {
		text-align: right;
	}
}

.social-btns img {
	width: 32px;
	height: 32px;
	vertical-align: middle;
}

.social-btns a {
	transition: all .3s ease;
	margin: 0 .35rem;
	min-width: 180px;
	background-color: #fff;
	box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

	&:hover {
		box-shadow: none;
	}

	&.twitter {
		color: #1ea1f2;
	}

	&.facebook {
		color: #1777f3;
	}

	&.pocket {
		color: #ef4156;
	}

	&.twitter:hover {
		border-color: #1ea1f2;
	}

	&.facebook:hover {
		border-color: #1777f3;
	}

	&.pocket:hover {
		border-color: #ef4156;
	}
}
