body {
	background-color: #f0f0f0;
}

.breadcrumb {
	margin-bottom: 0;
}

#gotop {
	display: none;
}

#gotop.show {
	display: inline-block;
	position: fixed;
	right: .75rem;
	bottom: .75rem;
	width: 48px;
	height: 48px;
	background: rgba(0, 0, 0, 1);
	color: #fff;
	text-align: center;
	line-height: 48px;
	z-index: 99;
}

@media (min-width: 768px) {
	#gotop.show {
		right: 1.5rem;
		bottom: 1.5rem;
		width: 56px;
		height: 56px;
		line-height: 56px;

	}

}
